<a href="https://colab.research.google.com/github/machiwao/pjdsc-optima-prime-sakayan-express/blob/main/SakayanExpress_RouteSimulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sakayan Express - Route Simulation
Simulate bus routes in historical data. Produce a predictive route simulation based on historical data by suggesting recommended number of buses

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data Loading

In [ ]:
Belga_0711_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0711_BELGA_withFuelData.csv"
Deocareza_0711_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0711_DEOCAREZA_withFuelData.csv"
Graceda_0711_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0711_GRACEDA_withFuelData.csv"
Manuel_0711_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0711_MANUEL_withFuelData.csv"
Paralde_0711_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0711_PARALDE_withFuelData.csv"

Carmelotes_0712_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0712_CARMELOTES_withFuelData.csv"
Escuerdo_0712_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0712_ESCUERDO_withFuelData.csv"
Graceda_0712_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0712_GRACEDA_withFuelData.csv"
Neri_0712_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0712_NERI_withFuelData.csv"
Ostan_0712_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0712_OSTAN_withFuelData.csv"

Bajaro_0713_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0713_BAJARO.csv"
Escuerdo_0713_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0713_ESCUERDO_withFuelData.csv"
Graceda_0713_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0713_GRACEDA_withFuelData.csv"
Neri_0713_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0713_NERI_withFuelData.csv"
Ostan_0713_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0713_OSTAN_withFuelData.csv"

Belga_0717_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0717_BELGA_withFuelData.csv"
Caralde_0717_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0717_CARALDE_withFuelData.csv"

Arangco_0718_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0718_ARANGCO.csv"
Ceballos_0718_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0718_CEBALLOS.csv"
Delosreyes_0718_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0718_DELOSREYES.csv"
Fontillas_0718_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0718_FONTILLAS_withFuelData.csv"
Lina_0718_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0718_LINA.csv"
Neri_0718_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0718_NERI_withFuelData.csv"

Arango_0719_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0719_ARANGO.csv"
Bolata_0719_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0719_BOLATA.csv"
Gipa_0719_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0719_GIPA.csv"
Loy_0719_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0719_LOY.csv"
Porquez_0719_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0719_PORQUEZ.csv"

Arango_0721_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0721_ARANGO.csv"
Gipa_0721_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0721_GIPA.csv"
Ubusan_0721_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0721_UBUSAN.csv"

Delos_Reyes_0728_url = "https://raw.githubusercontent.com/machiwao/pjdsc-optima-prime-sakayan-express/refs/heads/main/dataset/0728_Delos_Reyes.csv"

In [ ]:
df = pd.read_csv(Belga_0711_url)

In [ ]:
df.sample(10)

,id,driver,datePH,longitude,latitude,altitude,gpsSpeed,timeStamp,calEngineLoad,vehSpeed,...,Altitude,Accuracy,Hour,Min,Sec,Feedno,Withpass,Withevent,Cumpass,Pass
23421,64acbbc762e36b7c581e675e,Roly Belga,20230711,121.017625,14.657545,28,44,2023-07-11T02:17:42.000+0000,78,46,...,68.8,3.90,10.0,17.0,42.0,21744.0,1.0,2.0,50.0,0.0
6721,64ac7cb8b0e9581649b05c65,Roly Belga,20230711,120.989792,14.657140,15,4,2023-07-10T21:48:39.000+0000,40,3,...,62.4,3.90,5.0,48.0,39.0,6867.0,1.0,2.0,27.0,0.0
20386,64acb04aaac14162c0db18d0,Roly Belga,20230711,121.039555,14.641808,76,7,2023-07-11T01:28:41.000+0000,52,5,...,90.5,3.90,9.0,28.0,41.0,18932.0,1.0,2.0,31.0,0.0
15931,64ac9f2e31c1264f18050cef,Roly Belga,20230711,120.999103,14.537500,18,0,2023-07-11T00:15:41.000+0000,58,0,...,61.3,3.90,8.0,15.0,41.0,14501.0,1.0,2.0,39.0,0.0
14468,64ac999ffce4cc4cf31bc4cf,Roly Belga,20230711,120.990908,14.522150,7,23,2023-07-10T23:51:50.000+0000,0,23,...,45.9,3.90,7.0,51.0,50.0,13053.0,1.0,2.0,34.0,0.0
27427,64accaf33c6ae81205c0ded1,Roly Belga,20230711,120.992912,14.537268,13,0,2023-07-11T03:22:26.000+0000,41,0,...,52.9,3.42,11.0,22.0,26.0,25452.0,1.0,2.0,34.0,0.0
46274,64ad18d186210d6daac5f27d,Roly Belga,20230711,120.991543,14.536638,18,0,2023-07-11T08:54:40.000+0000,20,0,...,49.8,8.78,16.0,54.0,40.0,41376.0,1.0,2.0,24.0,0.0
17916,64aca6dd31c1264f18052a0b,Roly Belga,20230711,121.032585,14.552768,32,35,2023-07-11T00:48:24.000+0000,0,36,...,72.1,3.90,8.0,48.0,24.0,16487.0,1.0,2.0,35.0,0.0
53541,64ad3462348aa917282acf90,Roly Belga,20230711,121.005392,14.657322,35,0,2023-07-11T10:52:16.000+0000,58,3,...,63.0,7.48,18.0,52.0,16.0,47986.0,1.0,2.0,60.0,0.0
46491,64ad19a986210d6daac5f646,Roly Belga,20230711,120.997567,14.537620,9,0,2023-07-11T08:58:15.000+0000,37,0,...,50.6,6.74,16.0,58.0,15.0,41592.0,1.0,2.0,26.0,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59962 entries, 0 to 59961
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   59962 non-null  object
 1   driver               59962 non-null  object
 2   datePH               59962 non-null  int64
 3   longitude            59962 non-null  float64
 4   latitude             59962 non-null  float64
 5   altitude             59962 non-null  int64
 6   gpsSpeed             59962 non-null  int64
 7   timeStamp            59962 non-null  object
 8   calEngineLoad        59962 non-null  int64
 9   vehSpeed             59962 non-null  int64
 10  throttlePosition     59962 non-null  int64
 11  ambientAirTemp       59962 non-null  int64
 12  engineOilTemp        59962 non-null  int64
 13  Speed                59962 non-null  int64
 14  fuelPressure         59962 non-null  int64
 15  engineRPM            59962 non-null  int64
 16  distanceTravelled    59962 non-null  int64
 17  abdFuelRailTemp      59962 non-null  int64
 18  fuelInjectionTiming  59962 non-null  int64
 19  engineFuelRate       59962 non-null  int64
 20  tripOdometer         59962 non-null  int64
 21  timestamp            59958 non-null  object
 22  Driver               53385 non-null  object
 23  Deviceid             53385 non-null  object
 24  Userid               53385 non-null  object
 25  Board                53385 non-null  object
 26  Alight               53385 non-null  object
 27  Numpass              53385 non-null  float64
 28  Date                 53385 non-null  object
 29  Time                 53385 non-null  object
 30  Altitude             53385 non-null  float64
 31  Accuracy             53385 non-null  float64
 32  Hour                 53385 non-null  float64
 33  Min                  53385 non-null  float64
 34  Sec                  53385 non-null  float64
 35  Feedno               53385 non-null  float64
 36  Withpass             53385 non-null  float64
 37  Withevent            53385 non-null  float64
 38  Cumpass              53385 non-null  float64
 39  Pass                 53385 non-null  float64
dtypes: float64(13), int64(16), object(11)
memory usage: 18.3+ MB

In [ ]:
df.describe()

,datePH,longitude,latitude,altitude,gpsSpeed,calEngineLoad,vehSpeed,throttlePosition,ambientAirTemp,engineOilTemp,...,Altitude,Accuracy,Hour,Min,Sec,Feedno,Withpass,Withevent,Cumpass,Pass
count,59962.0,59962.000000,59962.000000,59962.000000,59962.000000,59962.000000,59962.000000,59962.000000,59962.000000,59962.000000,...,53385.000000,53385.000000,53385.000000,53385.000000,53385.000000,53385.000000,53385.000000,53385.000000,53385.000000,53385.000000
mean,20230711.0,121.015852,14.582620,31.943781,12.439695,40.623378,13.531353,16.221574,31.234882,91.116074,...,68.544674,7.283566,11.684256,29.035984,29.508439,27089.408954,1.032799,1.976042,38.653255,0.000468
std,0.0,0.024735,0.054249,18.870216,16.248403,22.730954,16.755636,26.054464,2.799451,2.627240,...,18.453354,8.305447,4.872378,16.987965,17.326651,15347.426785,0.178113,0.152920,16.971604,0.154785
min,20230711.0,120.983452,14.507295,-157.000000,0.000000,0.000000,0.000000,0.000000,27.000000,86.000000,...,-168.810000,2.150000,4.000000,0.000000,0.000000,532.000000,1.000000,1.000000,7.000000,-1.000000
25%,20230711.0,120.991318,14.537463,18.000000,0.000000,31.000000,0.000000,0.000000,29.000000,89.000000,...,55.800000,3.900000,8.000000,15.000000,15.000000,13775.000000,1.000000,2.000000,26.000000,0.000000
50%,20230711.0,121.009363,14.564530,31.000000,0.000000,41.000000,4.000000,0.000000,31.000000,91.000000,...,65.500000,4.250000,12.000000,29.000000,30.000000,27057.000000,1.000000,2.000000,35.000000,0.000000
75%,20230711.0,121.039225,14.644352,46.000000,27.000000,51.000000,28.000000,30.000000,34.000000,93.000000,...,81.000000,9.030000,16.000000,44.000000,45.000000,40396.000000,1.000000,2.000000,53.000000,0.000000
max,20230711.0,121.059888,14.657928,120.000000,62.000000,100.000000,65.000000,100.000000,39.000000,100.000000,...,309.660000,335.900000,20.000000,59.000000,59.000000,53641.000000,2.000000,2.000000,85.000000,1.000000

In [ ]:
df.isna().sum()

id                        0
driver                    0
datePH                    0
longitude                 0
latitude                  0
altitude                  0
gpsSpeed                  0
timeStamp                 0
calEngineLoad             0
vehSpeed                  0
throttlePosition          0
ambientAirTemp            0
engineOilTemp             0
Speed                     0
fuelPressure              0
engineRPM                 0
distanceTravelled         0
abdFuelRailTemp           0
fuelInjectionTiming       0
engineFuelRate            0
tripOdometer              0
timestamp                 4
Driver                 6577
Deviceid               6577
Userid                 6577
Board                  6577
Alight                 6577
Numpass                6577
Date                   6577
Time                   6577
Altitude               6577
Accuracy               6577
Hour                   6577
Min                    6577
Sec                    6577
Feedno                 6577
Withpass               6577
Withevent              6577
Cumpass                6577
Pass                   6577
dtype: int64

In [ ]:
df.duplicated().sum()

0